
#reg
{

	background: linear-gradient(white, blue, green,white);
	text-align: center;
	width: 300px;
	padding:25px;
	margin: 160px auto;
	height: 350px;
	outline: none;
  margin-top: 100px;
	
}

		.form-group input[type="text"],
		.form-group input[type="password"],
		select,
		textarea
	{
	width: 288px;
    height:30px;
    padding: 5px;
    font-size:13px ;
    color:white;
    border: none;
    border-bottom: 3px solid white;
     background: transparent; 
}
select
{
    width:298px;
    height:41px;
    background-color: green;
    padding: 5px;
    font-size:13px;
  	color: white;
    border: none;
    border-bottom: 3px solid white;
    background: transparent;
   
}
textarea
{
	width: 289px;
	height:50px;
	padding: 5px;
    font-size:13px;
	 border: none;
	border-bottom: 3px solid white;

}


.form-group input[type="submit"]
{
  background-color: #A0A3C4;
border-radius: 20%;
background: transparent;
color: aqua;
}

.form-group input[type="submit"]:hover
{
	box-shadow: 10px 0px 10px white;
	cursor:pointer;
  box-shadow: 0px 0px 0px #537dc0;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;   
}


h1
{
	color: whitesmoke;
	
}

a
{

border-radius: 20%;
margin: 20px;
color: white;
margin-top: 5px;
margin-left: 50px;
background: transparent;
}

nav
{
margin-top: 20px;
color: #5E6871;

}




div
{
    color: rgba(0, 255, 255, 0.977);
    width: 1000px;
    height: 600px;
    border-radius: 50px;
}

#two
{
    
    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

b
{
    border-radius: 30%;
}


.form-group input[type="text"],
.form-group input[type="password"],
select,
textarea
nav
{
width: 288px;
height:30px;
padding: 5px;
font-size:13px ;
color:white;
border: none;
border-bottom: 3px solid white;
 background: transparent; 
}